@{
    ViewData["Title"] = "Ajanvaraus";
}

<div class="row">
    <div class="col-lg-3 col-lg-offset-1">
        <div class="container-valitse-potilas">
            <h1>Valitse potilas</h1>
            <div class="form-group">
                <label for="txtHenkilotunnus">Henkilötunnus:</label><br />
                <input type="text" id="txtHenkilotunnus" class="form-control" style="max-width: 100%; width: 100%;" />
            </div>
            <div class="form-group">
                <label>Minulla on potilaan suostumus:</label><br />
                <label class="radio-inline">
                    <input type="radio" name="optradio" id="radioSuostumusKylla">Kyllä
                </label>
                <label class="radio-inline">
                    <input type="radio" name="optradio" id="radioSuostumusEi">Ei
                </label>
            </div>
            <div class="form-group">
                <button type="button" id="btnNaytaVaraukset" class="btn btn-primary btn-lg" style="width: 100%;">Näytä varaukset</button>
            </div>
            <div class="form-group">
                <button type="button" id="btnVaraaUusiAika" class="btn btn-primary btn-lg" style="width: 100%;">Varaa uusi aika</button>
            </div>
        </div>
    </div>
    <div class="col-lg-7">
        <div class="container-potilaan-varaukset">
            <h1>Potilaan varaukset</h1>
            <label>Henkilötunnus: </label><label id="lblValittuHenkilotunnus"></label>
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Varattu aika</th>
                            <th>Toimipiste</th>
                            <th>Palvelu</th>
                            <th>Tilaava yksikkö</th>
                            <th>Lisätiedot</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr data-varausnumero="100">
                            <td id="txtVarattuAika">keskiviikko 10.8.2016 07:45</td>
                            <td id="txtToimipiste">945/41 Keuhko- ja hammaskuvaukset (UB2-röntgen, TYKS)</td>
                            <td id="txtPalvelu">Natiivikuvaukset, Hammaskuvaukset</td>
                            <td id="txtTilaavaYksikko">Syöpäklinikka</td>
                            <td id="txtLisatiedot">thx</td>
                        </tr>
                        <tr data-varausnumero="101">
                            <td id="txtVarattuAika">torstai 11.8.2016 07:45</td>
                            <td id="txtToimipiste">945/41 Keuhko- ja hammaskuvaukset (UB2-röntgen, TYKS)</td>
                            <td id="txtPalvelu">Natiivikuvaukset, Hammaskuvaukset</td>
                            <td id="txtTilaavaYksikko">Syöpäklinikka</td>
                            <td id="txtLisatiedot">thx</td>
                        </tr>
                        <tr  data-varausnumero="102">
                            <td id="txtVarattuAika">maanantai 15.8.2016 07:45</td>
                            <td id="txtToimipiste">945/41 Keuhko- ja hammaskuvaukset (UB2-röntgen, TYKS)</td>
                            <td id="txtPalvelu">Natiivikuvaukset, Hammaskuvaukset</td>
                            <td id="txtTilaavaYksikko">Syöpäklinikka</td>
                            <td id="txtLisatiedot">thx</td>
                        </tr>
                        <tr data-varausnumero="103">
                            <td id="txtVarattuAika">tisitai 16.8.2016 07:45</td>
                            <td id="txtToimipiste">945/41 Keuhko- ja hammaskuvaukset (UB2-röntgen, TYKS)</td>
                            <td id="txtPalvelu">Natiivikuvaukset, Hammaskuvaukset</td>
                            <td id="txtTilaavaYksikko">Syöpäklinikka</td>
                            <td id="txtLisatiedot">thx</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="container-ei-loytynyt">
                <div class="alert alert-danger">
                    <strong>Ei varattuja aikoja.</strong>
                </div>
            </div>

            <!-- Modal -->
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="myModalLabel">Varattu aika</h4>
                        </div>
                        <div class="modal-body">
                            <input type="hidden" id="varauksenNumero" name="varausnumero" value="0" />
                            <div id="modalVarattuAika"><label>Varattu aika: </label><label id="lblModalVarattuAikaArvo"></label></div>
                            <div id="modalToimipiste"><label>Toimipiste: </label><label id="lblModalToimipisteArvo"></label></div>
                            <div id="modalPalvelu"><label>Palvelu: </label><label id="lblModalPalveluArvo"></label></div>
                            <div id="modalTilaavaYksikko"><label>Tilaava yksikkö: </label><label id="lblModalTilaavaYksikkoArvo"></label></div>
                            <div id="modalLisatiedot"><label>Lisätiedot: </label><label id="lblModalLisatiedotArvo"></label></div>

                            <div id="divModalBodyPeruAika">
                                <hr />
                                <div class="alert alert-danger" style="text-align: center;">
                                    <strong>Varoitus! Oletko aivan varma että haluat perua varatun ajan?</strong>
                                    <div style="margin-top: 10px;">
                                        <button type="button" id="btnPeruAjavarausPeruutus" class="btn btn-default">En</button>
                                        <button type="button" id="btnPeruAjanvarausVahvistus" class="btn btn-danger">Kyllä: Vahvista peruutus</button>
                                    </div>
                                </div>
                                
                            </div>
                        
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Sulje</button>
                            <button type="button" id="btnPeruAika" class="btn btn-danger">Peru aika</button>
                            <button type="button" class="btn btn-warning">Ajan siirto</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

